.header {
  max-width: 880px;
  width: 88.125%;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
  padding: 45px 0 37px;
}


@media screen and (max-width: 425px) {
  .header {
    width: 100%;
    padding: 27px 0;
  }
}
