.popup__container {
  width: 430px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  position: relative;
}

@media screen and (max-width: 620px) {
  .popup__container {
    width: 340px;
    padding: 28px 25px;
  }
}


@media screen and (max-width: 425px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}
