@media screen and (max-width: 620px) {
  .header__info-mobile_opened {
    visibility: visible;
    height: auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding: 0 0 40px;
    margin: 0 0 27px;
}
}

@media screen and (max-width: 425px) {
  .header__info-mobile_opened {
    padding: 13px 0 40px;
  }
}
